/* icons from Google  */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

html {
  scroll-behavior: smooth;
}

/* common */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
}

/* wrappers */
.wrapper {
  min-width: 1000px;
  width: 1200px;
  padding: 0;
  box-shadow: 1px black;
}

.wrapper__mini {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inner__small {
  width: 40%;
}

.inner__big {
  width: 55%;
}

/* nav */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid red;
}

.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.nav__list a:hover {
  color: red;
}

/* header */
.header {
  position: relative;
  top: 0;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}

.section__profile {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* figure */

figure {
  margin: 0;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

h1 {
  font-size: 40px;
}

/* main */
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* footer */
.footer {
  height: 10vh;
  background-color: black;
  width: 100%;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__item {
  list-style-type: none;
}
