* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

.center {
  display: flex;
  align-items: center;
}

/* wrappers */
.main__container {
  min-width: 1000px;
  width: 1200px;
  border: 2px solid #2d545e;
}

.container {
  width: 80%;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}
.inner__small {
  width: 40%;
}
main .inner__big {
  padding-left: 15px;
}

.inner__big {
  width: 60%;
  border-left: 2px solid #2d545e;
}

/* nav */
.header {
  background-color: #2d545e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 80%;
  min-width: 1000px;
  height: 100px;
  display: flex;
  align-items: center;
}

.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  font-size: 20px;
}

.nav__list a {
  color: white;
}

/* figure */

figure {
  width: 40%;
  margin: 0;
}

img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}

h1 {
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

/* main */
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5vh 0;
  color: #2d545e;
}

.pre-main {
  padding-bottom: 0;
}

/* footer */
.footer {
  height: 100px;
  background-color: #2d545e;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__item {
  list-style-type: none;
}

/* icons from Google  */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
